
@{
    ViewBag.Title = "Accueil";
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">group_add</i>
                </div>
                <p class="card-category">Utilisateurs</p>
                <h3 class="card-title"><span id="totalUsers"></span></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">group_add</i>
                    <a href="#">Voir détails</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">bar_chart</i>
                </div>
                <p class="card-category">Dossiers Jour</p>
                <h3 class="card-title"><span id="totalDossiers"></span></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">bar_chart</i> <a href="#">Dossiers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">bar_chart</i>
                </div>
                <p class="card-category">Total Transactions</p>
                <h3 class="card-title"><span id="totalTransactions"></span></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">bar_chart</i><a href="#">Statistiques internes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">search</i>
                </div>
                <p class="card-category"> Guides</p>
                <h3 class="card-title">1</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons"></i><a href="#">Voir détails</a>
                </div>
            </div>
        </div>
    </div>
</div>

